@{
    ViewBag.Title = "Contact TTracker";
}
<h2>@ViewBag.Title.</h2>

<address>
    6001-21 Argyle Forest Blvd<br/>
    Jacksonville, FL 32244<br/>
    <abbr title="Phone">P:</abbr>
    904.414.4475
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Matthew.t.ramsay@gmail.com">Support@TTracker.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Matthew.t.ramsay@gmail.com">Marketing@TTracker.com</a>
</address>