@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TTracker</h1>
    <p class="lead">TTracker can help your company manage basic issue tracking needs.</p>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Register</h2>
            <p>
                Create a TTracker account
            </p>
            <p>
                @Html.ActionLink("Register", "Register", "Account", "null", new {@class = "btn btn-default"})
            </p>
        </div>
        <div class="col-md-4">
            <h2>Log in</h2>
            <p>Access your TTracker account</p>
            <p>
                @Html.ActionLink("Log in", "Login", "Account", "null", new {@class = "btn btn-default"})
            </p>
        </div>
    </div>
}
@section scripts {
    <script>var testing = true;</script>
}